.footer {
  padding-block: 20px 80px;
  margin-top: 400px;
  position: relative;
  .backObject {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  #secondObject {
    width: 100%;
    display: none;
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    .project {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      max-width: 340px;
      img {
        width: 220px;
        height: 55px;
        object-fit: cover;
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.336));
      }
      p {
        line-height: 1.4;
        color: #c9c9c9;
        font-size: 15px;
        max-width: 300px;
      }
    }
    ul {
      line-height: 2.5;
      flex: 1;
      li:first-child {
        color: white;
        font-size: 17px;
        list-style: none;
        margin-bottom: 5px;
        margin-left: 0;
      }
      li {
        color: #c9c9c9;
        font-size: 13px;
        margin-left: 15px;
        width: 100%;
        max-width: 150px;
        list-style: disc;
      }
      &:last-child li {
        max-width: 220px;
        line-height: 2.2;
        list-style: none;
        margin-left: 0;
        &:last-child {
          margin-top: 20px;
        }
      }
    }
  }
}
@media (max-width: 414px) {
  .footer {
    .backObject {
      display: none;
    }
    #secondObject {
      display: block;
    }
    .content {
      flex-direction: column;
      padding-inline: 50px;
      .project {
        align-items: center;
        p {
          text-align: center;
        }
      }
    }
  }
}
