.map {
  background-color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.382);
  padding: 50px;
  img {
    width: 100%;
    height: 80vh;
    object-fit: contain;
  }
}
@media (max-width: 900px) {
  .map img {
    height: 70vh;
  }
}
@media (max-width: 740px) {
  .map img {
    height: 50vh;
  }
}
@media (max-width: 500px) {
  .map img {
    height: 40vh;
  }
}
@media (max-width: 375px) {
  .map img {
    height: 25vh;
  }
}
