.map {
  position: relative;
  padding-block: 40px;
  margin-block: 70px;
  .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    display: none;
  }
  .back2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
    img {
      width: 100%;
      height: 500px;
      object-fit: contain;
    }
    .title {
      display: flex;
      flex-direction: column;
      gap: 40px;
      h1 {
        font-weight: 500;
      }
      p {
        font-size: clamp(0.625rem, 0.523rem + 0.51vw, 0.906rem);
        width: 90%;
        line-height: 2;
      }
    }
  }
}
@media (max-width: 1200px) {
  .back {
    display: block;
  }
}
