#service {
  padding-block: 40px;
  .service {
    display: flex;
    flex-direction: column;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-block: 40px;

      button {
        background: black;
        color: white;
        font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
        padding: 10px 101px;
        cursor: pointer;
      }
    }
    h1 {
      font-size: clamp(1.563rem, 1.335rem + 1.14vw, 2.188rem);
    }
    .serviceTitle {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 70px;
        h6 {
          font-size: clamp(1.25rem, 1.136rem + 0.57vw, 1.563rem);
        }
        .time {
          display: flex;
          align-items: center;
          gap: 200px;
          justify-content: space-between;
          max-width: 440px;
          width: 100%;
          p {
            font-size: clamp(1.25rem, 1.136rem + 0.57vw, 1.563rem);
          }
          span {
            font-size: clamp(1.25rem, 1.136rem + 0.57vw, 1.563rem);
          }
        }
      }
      .paste {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding-block: 10px;
        h5 {
          font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
        }
        .titlePaste {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 15px;
          max-width: 450px;
          width: 100%;

          p {
            font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
          }
          span {
            font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
          }
        }
      }
    }
  }
}
