.contactTitle {
  padding-block: 40px;
  .box {
    display: flex;
    flex-direction: column;

    .contactTitle {
      display: flex;
      flex-direction: column;
      gap: 30px;
      h1 {
        font-size: clamp(1.125rem, 0.966rem + 0.8vw, 1.563rem);
      }
      .support {
        display: flex;
        flex-direction: column;
        .title {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.212);
          padding: 12px 10px;
          p {
            font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem);
            min-width: 90px;
          }
          span {
            font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
          }
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
    .supportContact {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-bottom: 40px;
      h1 {
        font-size: clamp(1.125rem, 0.966rem + 0.8vw, 1.563rem);
      }
      .supportContactTitle {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
          font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .title span {
    text-align: end;
  }
}
