.header {
  padding-block: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  z-index: 10;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    .logo {
      display: flex;
      align-items: center;
      img {
        cursor: pointer;
        height: 23px;
        filter: drop-shadow(0, 0, 10px white);
      }
    }
    .nav {
      position: relative;
      display: flex;
      gap: 2rem;
      cursor: pointer;
      select {
        display: flex;
        align-items: center;
        border: none;
        font-size: 16px;
        background: none;
        font-weight: 500;
        cursor: pointer;
        color: white;
      }
    }

    .item {
      color: white;
      position: relative;
      transition: color 0.3s;

      &:hover {
        color: white;
      }
    }

    .active {
      color: white;
    }

    .underline {
      position: absolute;
      bottom: -10px;
      height: 4px;
      background-color: red;
      border-radius: 2px;
      transition: all 0.3s ease;
    }
    .user {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
}
