.header {
  padding-block: 25px;
  background-color: rgba(236, 236, 236, 1);
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: center;
      img {
        width: 105px;
        height: 25px;
      }
    }
    .nav {
      display: flex;
      align-items: center;
      gap: 20px;
      select {
        display: flex;
        align-items: centerz;
        border: none;
        font-size: 16px;
        background: none;
        color: #001f54;
        font-weight: 500;
      }
      p {
        font-size: 16px;
        font-weight: 400;
      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
}
