.section {
  display: flex;
  flex-direction: column;
  padding: 25px;
  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: none;
    padding: 10px;

    .trackcode {
      font-weight: 600;
      span {
        color: #1d51aa;
        font-weight: 600;
      }
    }
    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      .newmessage {
        width: 7px;
        height: 7px;
        background: blue;
        border-radius: 50%;
      }
      img {
        width: 84px;
        height: 20px;
      }
    }
    p {
      font-size: 16px;
      color: #001f54;
    }
  }
  .card:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
}
