.login {
  padding-block: 50px;
  .content {
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: black;
    h1 {
      font-size: clamp(0.938rem, 0.71rem + 1.14vw, 1.563rem);
    }
    .getInfo {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 90%;
      max-width: 400px;
      .input {
        position: relative;
        p {
          font-size: clamp(0.563rem, 0.472rem + 0.45vw, 0.813rem);
          line-height: 2;
          justify-content: flex-start;
        }
        input {
          width: 100%;
          padding: 8px;
          border-radius: 8px;
          border: 1px solid rgba(0, 0, 0, 0.266);
        }
        .icon {
          position: absolute;
          right: 12px;
          bottom: 8px;
          z-index: 10;
        }
      }
      button {
        background-color: #2c2c2c;
        border-radius: 8px;
        color: white;
        padding: 10px;
      }
      p {
        font-size: clamp(0.625rem, 0.534rem + 0.45vw, 0.875rem);
        display: flex;
        gap: 10px;
        justify-content: center;
        a {
          color: #0c00f1;
          cursor: pointer;
        }
      }
    }
  }
}
