.admin {
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: black;
  width: 100%;
  .search {
    display: flex;
    align-items: center;
    width: 100%;
    .icon,
    input {
      padding: 10px 15px;
      font-size: clamp(0.625rem, 0.58rem + 0.23vw, 0.75rem);
    }
    .icon {
      background-color: black;
      display: flex;
      align-items: center;
      gap: 5px;
      border-radius: 20px 0 0 20px;
      color: white;
    }
    input {
      background-color: #ececec;
      border: none;
      border-radius: 0 20px 20px 0;
      height: 100%;
      width: 100%;
    }
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    .card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 330px;
      background: rgb(255, 255, 255);
      box-shadow: 0 2 6px 0 rgb(0, 0, 0, 0.25);
      border-radius: 10px;
      padding: 20px;
      .contentbox {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .contentTeg {
          display: flex;
          align-items: center;
          gap: 5px;
          h1 {
            font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
            font-weight: 400;
          }
          span {
            font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
            color: rgba(0, 31, 84, 1);
            font-weight: 600;
            padding-top: 5px;
          }
        }
        .contentboxYellow {
          display: flex;
          align-items: center;
          gap: 5px;
          p {
            font-size: clamp(0.75rem, 0.705rem + 0.23vw, 0.875rem);
          }
          .yellow {
            border: 1px solid black;
            border-radius: 10px;
            width: 12px;
            height: 12px;
            background: rgba(255, 217, 0, 1);
          }
        }
      }
      .contentOrder {
        display: flex;
        align-items: center;
        max-width: 285px;
        justify-content: space-between;
        gap: 10px;
        .contentPast {
          display: flex;
          flex-direction: column;
          .contentPastTeg {
            display: flex;
            align-items: center;
            gap: 5px;
            span {
              color: rgba(0, 0, 0, 0.52);
              font-size: clamp(0.75rem, 0.705rem + 0.23vw, 0.875rem);
            }
            p {
              color: rgba(0, 31, 84, 1);
              font-size: clamp(0.813rem, 0.744rem + 0.34vw, 1rem);
            }
          }
        }
        .contentPrice {
          display: flex;
          flex-direction: column;
          .contentPriceTeg {
            display: flex;
            align-items: center;
            gap: 5px;
            span {
              font-size: clamp(0.75rem, 0.705rem + 0.23vw, 0.875rem);
              color: rgba(0, 0, 0, 0.52);
            }
            p {
              color: rgba(0, 31, 84, 1);
              font-size: clamp(0.813rem, 0.744rem + 0.34vw, 1rem);
            }
          }
        }
      }
      .contentWhoPostet {
        display: flex;
        align-items: center;
        gap: 5px;
        span {
          color: rgba(0, 0, 0, 0.52);
          font-size: clamp(0.75rem, 0.705rem + 0.23vw, 0.875rem);
        }
        p {
          color: rgba(0, 31, 84, 1);
          font-size: clamp(0.813rem, 0.744rem + 0.34vw, 1rem);
        }
      }
      button {
        background: rgba(236, 236, 236, 1);
        padding: 10px;
        font-size: clamp(0.813rem, 0.744rem + 0.34vw, 1rem);
        cursor: pointer;
      }
    }
  }
}
