.banner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 40px;
  color: white;
  width: 90%;
  max-width: 1000px;
  margin-bottom: 30px;
  h2 {
    font-size: 40px;
  }
  .title {
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    p {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.4;
      span {
        font-size: 15px;
        font-weight: 300;
      }
    }
  }
  button {
    margin-left: auto;
    margin-top: auto;
    width: 100%;
    max-width: 240px;
    font-size: 16px;
  }
}
