#ContactUs {
  background: black;
  padding-block: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.382);
  .ContactUs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    h1 {
      color: white;
      font-size: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
    }
    .ContactUsArea {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .ContactUsInput {
        max-width: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        input {
          padding: 20px;
          border-radius: 5px;
          max-width: 600px;
          width: 100%;
          background: black;
          border: 1px solid rgba(255, 255, 255, 0.825);
          color: white;
        }
      }
      textarea {
        width: 100%;
        max-width: 600px;
        background: black;
        padding: 10px;
        border-radius: 5px;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.825);
      }
    }
    .ContactUsButton {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        padding: 10px 10px;
        max-width: 300px;
        width: 100%;
        cursor: pointer;
      }
    }
  }
}
